<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body >

	
	
	<a th:href="@{/nuevo_usuario}" class="btn btn-primary mt-3">Añadir Usuario</a>
	<br>
	<a th:href="@{/nuevo_libro}" class="btn btn-primary mt-3">Añadir libro</a>
	<br>
	<a th:href="@{/lista_libros}" class="btn btn-primary mt-3">Listar Libros</a>
	<br>
	<a th:href="@{/lista_cantidad}" class="btn btn-primary mt-3">Listar cantidad de cada libro</a>
	<br>
	<a th:href="@{/lista_usuarios}" class="btn btn-primary mt-3">Listar Usuarios</a>
	<br>
	<a th:href="@{/busca_libro}" class="btn btn-primary mt-3">Buscar Libros</a>
	<br>
	<a th:href="@{/modificar_libro}" class="btn btn-primary mt-3">Modificar libros</a>
	<br>
	<a th:href="@{/Elim_libro}" class="btn btn-primary mt-3">Eliminar libros</a>
	<br>	
	<a th:href="@{/nueva_reserva}" class="btn btn-primary mt-3">Realizar Reserva</a>
	<br>	
	<a th:href="@{/mostrar_Reserva}" class="btn btn-primary mt-3">Mostrar Reserva</a>
	<br>	

	
</body>
</html>